# Ignore node_modules folder
node_modules/

# Ignore environment variable file
.env

# Ignore error log file
error.log
error.log




# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*