<script src="/js/core/popper.min.js"></script>
<script src="/js/core/bootstrap.min.js"></script>
<script src="/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/js/plugins/smooth-scrollbar.min.js"></script>
<script src="/js/plugins/chartjs.min.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwKN43PUKXQDNOePs0Ek3SOkm27yQwWvY&callback=init"
  async
  defer>
</script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>

function formatCurrencyValue(amount) {
    var formattedAmount = new Intl.NumberFormat("en-PH", {
      style: "currency",
      currency: "PHP",
    }).format(amount);
    return formattedAmount;
  }

  // Function to show a spinner inside a toast
  function showSpinnerToast(message, title) {
    toastr.info('<i class="fa fa-spinner fa-spin"></i> ' + message, title, { timeOut: 0, extendedTimeOut: 0 });
  }

  // Function to clear toast messages
  function clearToast() {
    toastr.clear();
  }

  // Function to show success toast message
  function showSuccessToast(message, title) {
    toastr.success(message, title);
  }
  var ctx1 = document.getElementById("chart-line").getContext("2d");

  var gradientStroke1 = ctx1.createLinearGradient(0, 230, 0, 50);

  gradientStroke1.addColorStop(1, 'rgba(94, 114, 228, 0.2)');
  gradientStroke1.addColorStop(0.2, 'rgba(94, 114, 228, 0.0)');
  gradientStroke1.addColorStop(0, 'rgba(94, 114, 228, 0)');
  new Chart(ctx1, {
    type: "line",
    data: {
      labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
      datasets: [{
        label: "Mobile apps",
        tension: 0.4,
        borderWidth: 0,
        pointRadius: 0,
        borderColor: "#5e72e4",
        backgroundColor: gradientStroke1,
        borderWidth: 3,
        fill: true,
        data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
        maxBarThickness: 6

      }],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          display: false,
        }
      },
      interaction: {
        intersect: false,
        mode: 'index',
      },
      scales: {
        y: {
          grid: {
            drawBorder: false,
            display: true,
            drawOnChartArea: true,
            drawTicks: false,
            borderDash: [5, 5]
          },
          ticks: {
            display: true,
            padding: 10,
            color: '#fbfbfb',
            font: {
              size: 11,
              family: "Open Sans",
              style: 'normal',
              lineHeight: 2
            },
          }
        },
        x: {
          grid: {
            drawBorder: false,
            display: false,
            drawOnChartArea: false,
            drawTicks: false,
            borderDash: [5, 5]
          },
          ticks: {
            display: true,
            color: '#ccc',
            padding: 20,
            font: {
              size: 11,
              family: "Open Sans",
              style: 'normal',
              lineHeight: 2
            },
          }
        },
      },
    },
  });

  function formatPeso(amount) {
    return new Intl.NumberFormat('en-PH', { 
        style: 'currency', 
        currency: 'PHP',
        minimumFractionDigits: 2 
    }).format(amount);
  }

</script>
<script>
  var win = navigator.platform.indexOf('Win') > -1;
  if (win && document.querySelector('#sidenav-scrollbar')) {
    var options = {
      damping: '0.5'
    }
    Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
  }
</script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/js/argon-dashboard.min.js?v=2.0.4"></script>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<!-- Toastr -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.css" rel="stylesheet">
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.js"></script>

<script>
  $(document).ready(function () {
    $(document).on("click", "#logoutBtn", function () {
      console.log('clicked');
      $.ajax({
        type: "POST",
        url: "/AdminLogin/logout",
        success: function (result) {
          toastr.success("Log out Successfully", "Ba Bye!!!");
          setTimeout(() => {
            window.location.reload();
            location.replace("/AdminLogin");
          }, 500); // Wait for the toast to display before redirecting
        },
        error: function (err) {
          toastr.error("There was an error while logging out.", "Error");
        },
      });
    });
  });

  function formatPrice(event, input) {
    event.preventDefault();

    const cursorPosition = input.selectionStart;
    const originalValue = input.value;
    const defaultValue = "₱0.00";
    const currentValue = originalValue || defaultValue;

    let value = currentValue.replace(/[^0-9.]/g, "");
    let number = parseFloat(value);

    if (!isNaN(number)) {
      const formattedValue = number.toLocaleString("en-PH", {
        style: "currency",
        currency: "PHP",
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
      });

      input.value = formattedValue;

      let newPosition =
        cursorPosition +
        (formattedValue.indexOf(".") > currentValue.indexOf(".") ? 1 : 0);

      // Set the new cursor position
      input.setSelectionRange(newPosition, newPosition);
    } else {
      input.value = defaultValue;
    }
  }

</script>
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header logout-header">
        <h6 class="modal-title fs-5" style="color: rgb(7, 7, 7) !important;" id="exampleModalLabel">
          <b>Ready to leave?</b>
        </h6>
        <i class="bx bx-x" data-bs-dismiss="modal" aria-label="Close"></i>
      </div>
      <div class="modal-body logout-body">
        <h5>Select <span class="btn-out-body">Log Out</span> below if you are ready to end your current session.</h5>
      </div>
      <div class="modal-footer logout-footer">
        <button class="btn btn-gradient-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
        <button class="btn btn-gradient-warning" id="logoutBtn" name="logoutBtn">Log Out</button>
      </div>
    </div>
  </div>
</div>