<script>
  let base64String = "";
  let merchant_id = "";
  $(document).ready(function () {
    LoadTable();
    initMap();

    function initMap() {
      const mapElement = document.getElementById("farmMap");
      if (!mapElement) {
        console.error("Map container not found!");
        return;
      }
      const map = new google.maps.Map(mapElement, {
        center: { lat: 13.41, lng: 122.56 },
        zoom: 6,
      });

      // Add markers to the map
      const markers = [
        { position: { lat: -34.397, lng: 150.644 }, farm_id: "Farm 1" },
        { position: { lat: -35.297, lng: 149.644 }, farm_id: "Farm 2" },
      ];

      markers.forEach((point) => {
        new google.maps.Marker({
          position: point.position,
          map: map,
          title: point.farm_id,
          icon: {
            url: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQx0y1Ensv9-dF8rpNkXhfAEfQnyWF4kXMoE_OyWbI8GQ&s", // Custom icon URL
            scaledSize: new google.maps.Size(40, 40),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(20, 40),
          },
        });
      });
    }

    function LoadTable() {
      $("#dataTableMerchants").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 600,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/AdminMerchants/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            console.log(data);

            $.each(data, (key, item) => {
              var action = `
                                  <button id="editBtn" class="lagona_class-btn btn" name="editBtn" data-bs-toggle="modal" data-bs-target="#editMerchantModal">
                                  <i class="fas fa-fw fa-pen"></i>
                                  </button>
                                  <button id="viewBtn" class="lagona_class-btn btn" name="topUpBtn" data-bs-toggle="modal" data-bs-target="#viewMerchantModal">
                                  <i class="fas fa-fw fa-eye"></i>
                                  </button>
                              `;

              finalData.push({
                merchant_id: item.merchant_id,
                business_name: item.business_name,
                mobile: item.mobile,
                status: item.status,
                create_date: item.create_date,
                action: action,
              });
            });

            return finalData;
          },
        },
        columns: [
          { data: "merchant_id" },
          { data: "business_name" },
          { data: "mobile" },
          { data: "status" },
          { data: "create_date" },
          { data: "action" },
        ],
        createdRow: function (row, data, dataIndex) {
          // var jobStatusCell = $(row).find("td:eq(2)");
          // var jobStatusText = data.assessment_type;

          // var jobStatusClass = "";
          // if (jobStatusText === "Personality Test") {
          //     jobStatusClass =
          //         "badge badge-sm bg-gradient-success text-white rounded-pill";
          // } else if (jobStatusText === "Interest Assessment") {
          //     jobStatusClass =
          //         "badge badge-sm bg-gradient-danger text-white rounded-pill";
          // }

          // else if (jobStatusText === "Skill Assessment") {
          //     jobStatusClass =
          //         "badge badge-sm bg-gradient-warning text-black rounded-pill";
          // }

          // jobStatusCell.html(
          //     `<span class="${jobStatusClass}">${jobStatusText}</span>`
          // );

          $("td", row).each(function () {
            this.style.textAlign = "center";
            this.style.verticalAlign = "middle";
            this.style.fontSize = "14px";
          });
        },
        initComplete: function () {
          $("#dataTableStrandsType thead th").css({
            "font-size": "14px",
            "font-weight": "bold",
            "text-align": "center",
          });
        },
      });
    }

    $(document).on("click", "#saveMerchantBtn", function () {
      let business_name = $("#addbusinessname").val();
      let business_branch = $("#addbranch").val();
      let merchant_address = $("#addmerchaddress").val();
      let merchant_owner = $("#addowner").val();
      let latitude = $("#addlatitude").val();
      let longitude = $("#addlongitude").val();
      let UploadQRCode = $("#addqrcode").val();
      let phone_number = $("#addcpnumber").val();
      let email = $("#addemail").val();
      let username = $("#addusername").val();
      let password = $("#addpassword").val();
      let merchant_type = $("#addmerchtype").val();
      let logo = base64String;

      var message = "";

      if (merchant_owner === "") {
        message += "Merchant Owner is required ";
      }

      if (business_name === "") {
        message += "Business Name is required ";
      }

      if (business_branch === "") {
        message += "Business Branch is required ";
      }

      if (merchant_address === "") {
        message += "Merchant Address is required ";
      }

      if (latitude === "") {
        message += "Latitude Address is required ";
      }

      if (longitude === "") {
        message += "Longitude Address is required ";
      }

      if (UploadQRCode === "") {
        message += "QR Code is required ";
      }

      if (email === "" || email === null) {
        message += "Load Email is required ";
      }

      if (logo === "") {
        message += "Logo is required ";
      }

      if (username === "" || username === null) {
        message += "Load Username is required ";
      }

      if (password === "" || password === null) {
        message += "Load Password is required ";
      }

      if (phone_number === "" || phone_number === null) {
        message += "Load Phone Number is required ";
      }

      if (merchant_type === "" || merchant_type === null) {
        message += "Load Merchant Type is required ";
      }

      if (message !== "") {
        toastr.error(`Please fill up ${message}`, "Required");
      } else {
        $.ajax({
          type: "POST",
          url: "/AdminMerchants/save",
          data: {
            business_name: business_name,
            merchant_type: merchant_type,
            merchant_owner: merchant_owner,
            business_branch: business_branch,
            merchant_address: merchant_address,
            latitude: latitude,
            longitude: longitude,
            qr_code: UploadQRCode,
            email: email,
            phone_number: phone_number,
            logo: logo,
            username: username,
            password: password,
          },
          success: function (result) {
            if (result.msg == "success") {
              toastr.success("Saved Successfully", "Success");
              setTimeout(function () {
                window.location.reload();
              }, 500);
            } else {
              toastr.warning("Data already exists!", "Warning");
            }
          },
          error: function (err) {
            toastr.warning("Data already exists!", "Warning");
          },
        });
      }
    });

    $("#dataTableMerchants tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      merchant_id = dataRow[0];
      console.log(dataRow);
    });

    $(document).on("click", "#viewBtn", function () {
      $.ajax({
        type: "POST",
        url: "/AdminMerchants/viewmerchant",
        data: {
          merchant_id: merchant_id,
        },
        success: function (result) {
          if (result.msg === "success") {
            const existingData = result.data;

            $.each(existingData, (key, item) => {
              $("#viewcode").text(item.merchant_code);
              $("#viewfname").text(item.merchant_fullname);
              $("#viewbname").text(item.business_name);
              $("#viewbranch").text(item.business_branch);
              $("#viewbranch2").text(item.business_branch);
              $("#viewaddress").text(item.merchant_address);
              $("#viewlocation").text(item.latitude + item.longitude);
              $("#viewmobile").text(item.mobile);
              $("#viewemail").text(item.email);
              $("#viewuser").text(item.username);
              $("#viewpassword").text(item.password);
              $("#viewUserImagePreview").attr(
                "src",
                "data:image/jpg;base64," + item.logo
              );
              base64String = item.logo;
              $("#viewstatus").text(item.status);
            });
          } else {
            toastr.error("Error fetching employee data", "Error");
          }
        },
        error: function (err) {
          toastr.error(
            "An error occurred while fetching employee data",
            "Error"
          );
        },
      });
    });

    $(document).on("click", "#editBtn", function () {
      $.ajax({
        type: "POST",
        url: "/AdminMerchants/getmerchant",
        data: {
          merchant_id: merchant_id,
        },
        success: function (result) {
          if (result.msg === "success") {
            const existingData = result.data;

            $.each(existingData, (key, item) => {
              $("#editowner").val(item.merchant_fullname);
              $("#editbusinessname").val(item.business_name);
              $("#editbranch").val(item.business_branch);
              $("#editbranch").val(item.business_branch);
              $("#editmerchaddress").val(item.merchant_address);
              $("#editmerchtype").val(item.merchant_type);
              $("#editlatitude").val(item.latitude);
              $("#editlongitude").val(item.longitude);
              $("#editcpnumber").val(item.mobile);
              $("#editemail").val(item.email);
              $("#editusername").val(item.username);
              $("#editpassword").val(item.password);
              $("#editImagePreview").attr(
                "src",
                "data:image/jpg;base64," + item.logo
              );
              base64String = item.logo;
            });
          } else {
            toastr.error("Error fetching employee data", "Error");
          }
        },
        error: function (err) {
          toastr.error(
            "An error occurred while fetching employee data",
            "Error"
          );
        },
      });
    });

    $(document).on("click", "#editMerchantBtn", function () {
      let business_name = $("#editbusinessname").val();
      let business_branch = $("#editbranch").val();
      let merchant_address = $("#editmerchaddress").val();
      let merchant_owner = $("#editowner").val();
      let latitude = $("#editlatitude").val();
      let longitude = $("#editlongitude").val();
      let UploadQRCode = $("#editqrcode").val();
      let phone_number = $("#editcpnumber").val();
      let email = $("#editemail").val();
      let username = $("#editusername").val();
      let password = $("#editpassword").val();
      let merchant_type = $("#editmerchtype").val();
      let logo = base64String;

      var message = "";

      if (merchant_owner === "") {
        message += "Merchant Owner is required ";
      }

      if (business_name === "") {
        message += "Business Name is required ";
      }

      if (business_branch === "") {
        message += "Business Branch is required ";
      }

      if (merchant_address === "") {
        message += "Merchant Address is required ";
      }

      if (latitude === "") {
        message += "Latitude Address is required ";
      }

      if (longitude === "") {
        message += "Longitude Address is required ";
      }

      // if (UploadQRCode === "") {
      //   message += "QR Code is required ";
      // }

      if (email === "" || email === null) {
        message += "Load Email is required ";
      }

      if (logo === "") {
        message += "Logo is required ";
      }

      if (username === "" || username === null) {
        message += "Load Username is required ";
      }

      if (password === "" || password === null) {
        message += "Load Password is required ";
      }

      if (phone_number === "" || phone_number === null) {
        message += "Load Phone Number is required ";
      }

      if (merchant_type === "" || merchant_type === null) {
        message += "Load Merchant Type is required ";
      }

      if (message !== "") {
        toastr.error(`Please fill up ${message}`, "Required");
      } else {
        $.ajax({
          type: "PUT",
          url: "/AdminMerchants/edit",
          data: {
            merchant_id: merchant_id,
            business_name: business_name,
            merchant_type: merchant_type,
            merchant_owner: merchant_owner,
            business_branch: business_branch,
            merchant_address: merchant_address,
            latitude: latitude,
            longitude: longitude,
            qr_code: UploadQRCode,
            email: email,
            phone_number: phone_number,
            logo: logo,
            username: username,
            password: password,
          },
          success: function (result) {
            if (result.msg == "success") {
              toastr.success("Saved Successfully", "Success");
              setTimeout(function () {
                window.location.reload();
              }, 500);
            } else {
              toastr.warning("Data already exists!", "Warning");
            }
          },
          error: function (err) {
            toastr.warning("Data already exists!", "Warning");
          },
        });
      }
    });

    function searchTable() {
      var input, filter, found, table, tr, td, i, j;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("dataTableStudents");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        for (j = 0; j < td.length; j++) {
          if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
            found = true;
          }
        }
        if (found) {
          tr[i].style.display = "";
          found = false;
        } else {
          tr[i].style.display = "none";
        }
      }
    }

    $(".toggle-password").on("click", function () {
      const passwordField = $("#addpassword");
      const eyeIcon = $("#eyeIcon");
      const fieldType =
        passwordField.attr("type") === "password" ? "text" : "password";
      passwordField.attr("type", fieldType);
      if (fieldType === "password") {
        eyeIcon.removeClass("bx-show").addClass("bx-hide");
      } else {
        eyeIcon.removeClass("bx-hide").addClass("bx-show");
      }
    });

    $(".toggle-password").on("click", function () {
      const passwordField = $("#editpassword"); // Corrected ID
      const eyeIcon = $("#eyeIconEdit");

      const fieldType =
        passwordField.attr("type") === "password" ? "text" : "password";
      passwordField.attr("type", fieldType);

      // Toggle FontAwesome classes
      eyeIcon.toggleClass("fa-eye fa-eye-slash");
    });

    $(document).on("change", "#viewImage", function (e) {
      const input = document.getElementById("viewImage");
      const file = input.files[0];

      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        const preview = document.getElementById("viewUserImagePreview");
        preview.src = reader.result;
      };
      imageUploadedOld();
    });

    function imageUploadedOld() {
      const input = document.getElementById("viewImage");
      const file = input.files[0];

      var reader = new FileReader();

      reader.onload = function (e) {
        const img = new Image();
        img.src = e.target.result;

        img.onload = function () {
          const canvas = document.createElement("canvas");
          const ctx = canvas.getContext("2d");
          const targetWidth = 250;
          const targetHeight = 250;
          canvas.width = targetWidth;
          canvas.height = targetHeight;
          ctx.drawImage(img, 0, 0, targetWidth, targetHeight);
          base64String = canvas
            .toDataURL()
            .replace("data:image/png;base64,", "");

          imageBase64Stringsep = base64String;
        };
      };
      reader.readAsDataURL(file);
    }

    $(document).on("change", "#addmerchantimg", function (e) {
      const input = document.getElementById("addmerchantimg");
      const file = input.files[0];

      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        const preview = document.getElementById("userImagePreview");
        preview.src = reader.result;
      };
      imageUploadedAdd();
    });

    function imageUploadedAdd() {
      const input = document.getElementById("addmerchantimg");
      const file = input.files[0];

      var reader = new FileReader();

      reader.onload = function (e) {
        const img = new Image();
        img.src = e.target.result;

        img.onload = function () {
          const canvas = document.createElement("canvas");
          const ctx = canvas.getContext("2d");
          const targetWidth = 250;
          const targetHeight = 250;
          canvas.width = targetWidth;
          canvas.height = targetHeight;
          ctx.drawImage(img, 0, 0, targetWidth, targetHeight);
          base64String = canvas
            .toDataURL()
            .replace("data:image/png;base64,", "");

          imageBase64Stringsep = base64String;
        };
      };
      reader.readAsDataURL(file);
    }

    $(document).on("change", "#editmerchantimg", function (e) {
      const input = document.getElementById("editmerchantimg");
      const file = input.files[0];

      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        const preview = document.getElementById("editImagePreview");
        preview.src = reader.result;
      };
      imageUploadedAdd();
    });

    function imageUploadedAdd() {
      const input = document.getElementById("editmerchantimg");
      const file = input.files[0];

      var reader = new FileReader();

      reader.onload = function (e) {
        const img = new Image();
        img.src = e.target.result;

        img.onload = function () {
          const canvas = document.createElement("canvas");
          const ctx = canvas.getContext("2d");
          const targetWidth = 250;
          const targetHeight = 250;
          canvas.width = targetWidth;
          canvas.height = targetHeight;
          ctx.drawImage(img, 0, 0, targetWidth, targetHeight);
          base64String = canvas
            .toDataURL()
            .replace("data:image/png;base64,", "");

          imageBase64Stringsep = base64String;
        };
      };
      reader.readAsDataURL(file);
    }
  });
</script>
