<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                <h6>Riders</h6>
                <div class="d-flex align-items-center">
                    <input type="text"  id="myInput" class="form-control form-control-sm" 
                           placeholder="Search Riders..." style="width: 200px;">
                </div>
            </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0" id="dataTableRiders">
                <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">ID</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Rider Code</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Full Name</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Address</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Mobile Number</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Status</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Register Date</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Action</th>
                    </tr>             
                </thead>
                <tbody>
                </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editLoadStationModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <lord-icon src="https://cdn.lordicon.com/pdsourfn.json" stroke="bold"
                colors="success:#9cf4a7,secondary:#109121,tertiary:#ebfad1" class="db-hrmis"></lord-icon>
                <h3 class="modal-title" id="editModalLabel">View Rider</h3>
                <i class='bx bx-x' data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body" id="modal-body">
                <form>
                    <div class="row g-3">
                         <div class="col-md-6">
                            <div class="text-center mb-3">
                                <img id="userImagePreview" src="/img/userimage.jpg" alt="User Image" class="img-thumbnail rounded" style="width: 150px; height: 150px; object-fit: cover;">
                                <br><br>
                                <input type="file" class="form-control" id="edituserimage" name="edituserimage" accept="image/*">
                                <label for="edituserimage" class="form-label">Upload Profile Image</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="text-center mb-3">
                                <label class="fw-bold">Remaining Budget</label>
                                <h3 id="startingBudgetDisplay" class="fw-bold text-success">₱0.00</h3>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-floating">
                                <input type="text" class="form-control border-form-modal" id="editfname" name="editfname" placeholder="Load Station Name">
                                <label for="editfname">Frist Name</label>
                            </div>
                        </div>

                          <!-- Hub Name -->
                        <div class="col-md-3">
                            <div class="form-floating">
                                <input type="text" class="form-control border-form-modal" id="edtimname" name="edtimname" placeholder="Load Station Name">
                                <label for="edtimname">Middle Name</label>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-floating">
                                <input type="text" class="form-control border-form-modal" id="editlname" name="editlname" placeholder="Load Station Name">
                                <label for="editlname">Last Name</label>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-floating">
                                <select class="form-control border-form-modal" id="editgender" name="editgender" placeholder="Hub Name">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                <label for="editgender">Gender</label>
                            </div>
                        </div>

                        <!-- Hub Address -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control border-form-modal" id="editdaddress" name="editdaddress" placeholder="Load Station Address">
                                <label for="editdaddress">Address</label>
                            </div>
                        </div>

                        <!-- Phone Number -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control border-form-modal" id="editPhoneNumber" name="editPhoneNumber" placeholder="Phone Number">
                                <label for="editPhoneNumber">Phone Number</label>
                            </div>
                        </div>

                        <!-- Email Address -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control border-form-modal" id="editEmail" name="editEmail" placeholder="Email">
                                <label for="editEmail">Email</label>
                            </div>
                        </div>

                        <!-- Username -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control border-form-modal" id="editUsername" name="editUsername" placeholder="Username">
                                <label for="editUsername">Username</label>
                            </div>
                        </div>

                        <!-- Password Field with Eye Icon -->
                        <div class="col-md-6">
                            <div class="form-floating position-relative">
                                <input type="password" class="form-control border-form-modal" id="editPassword" name="editPassword" placeholder="Password">
                                <label for="editPassword">Password</label>
                                <!-- Eye Icon -->
                                <span class="position-absolute top-50 end-0 translate-middle-y me-3 toggle-password" id="togglePasswordEdit" style="cursor: pointer;">
                                    <i class="fas fa-eye" id="eyeIconEdit"></i>
                                </span>                                 
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-control border-form-modal" id="editvehicle" name="editvehicle" placeholder="Hub Name">
                                    <option value="Bicycle">Bicycle</option>
                                    <option value="Motorcycle">Motorcycle</option>
                                    <option value="Tricycle">Tricycle</option>
                                    <option value="4-Wheeler">4-Wheeler</option>
                                </select>
                                <label for="editvehicle">Vehicle Type</label>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-control border-form-modal" id="editrstatus" name="editrstatus" placeholder="Hub Name">
                                    <option value="Inactive">Inactive</option>
                                    <option value="Active">Active</option>
                                </select>
                                <label for="editrstatus">Rider Status</label>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control border-form-modal" id="edtidlcode" name="edtidlcode" placeholder="Username">
                                <label for="edtidlcode">Driver Liscense Number</label>
                            </div>
                        </div>

                        <!-- <div class="col-12">
                            <div class="text-center mb-3">
                                <label for="editNotes">Notes</label>
                                <textarea name="editNotes" id="editNotes" class="form-control border-form-modal" placeholder="Description" rows="3"></textarea>
                            </div>
                        </div> -->

                        <div class="col-md-6">
                            <div class="text-center mb-3">
                                <img id="orPreview" src="/img/userimage.jpg" alt="User Image" class="img-thumbnail rounded" style="width: 400px; height: 400px; object-fit: cover;">
                                <br><br>
                                <input type="file" class="form-control" id="uploador" name="uploador" accept="image/*">
                                <label for="uploador" class="form-label">Upload OR Image</label>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="text-center mb-3">
                                <img id="crPreview" src="/img/userimage.jpg" alt="User Image" class="img-thumbnail rounded" style="width: 400px; height: 400px; object-fit: cover;">
                                <br><br>
                                <input type="file" class="form-control" id="uploadcr" name="uploadcr" accept="image/*">
                                <label for="uploadcr" class="form-label">Upload CR Image</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="text-center mb-3">
                                <img id="licensePreview" src="/img/userimage.jpg" alt="User Image" class="img-thumbnail rounded" style="width: 400px; height: 400px; object-fit: cover;">
                                <br><br>
                                <input type="file" class="form-control" id="uploadlicense" name="uploadlicense" accept="image/*">
                                <label for="uploadlicense" class="form-label">Upload License Image</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="text-center mb-3">
                                <img id="vehiclePreview" src="/img/userimage.jpg" alt="User Image" class="img-thumbnail rounded" style="width: 400px; height: 400px; object-fit: cover;">
                                <br><br>
                                <input type="file" class="form-control" id="uplaodVehicle" name="uplaodVehicle" accept="image/*">
                                <label for="uplaodVehicle" class="form-label">Upload Vehicle Image</label>
                            </div>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn lagona_class-btn btn-modal-save" id="saveRiderBtn">Save Changes</button>
            </div>
        </div>
    </div>
</div>




