<script>
  let rider_id = "";
  let base64String = "";
  let ORbase64String = "";
  let CRbase64String = "";
  let DLbase64String = "";
  let VCbase64String = "";
  $(document).ready(function () {
    LoadTable();

    function LoadTable() {
      $("#dataTableRiders").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 600,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/AdminRiders/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            console.log(data, "DATA");

            $.each(data, (key, item) => {
              var action = `
                    <button id="editBtn" class="lagona_class-btn btn" name="editBtn" data-bs-toggle="modal" data-bs-target="#editLoadStationModal">
                    <i class="fas fa-fw fa-pen"></i>
                    </button>
                `;

              finalData.push({
                rider_id: item.rider_id,
                rider_code: item.rider_code,
                full_name: item.full_name,
                address: item.address,
                mobile_number: item.mobile_number,
                rider_status: item.rider_status,
                rider_registration_date: item.rider_registration_date,
                action: action,
              });
            });

            return finalData;
          },
        },
        columns: [
          { data: "rider_id" },
          { data: "rider_code" },
          { data: "full_name" },
          { data: "address" },
          { data: "mobile_number" },
          { data: "rider_status" },
          { data: "rider_registration_date" },
          { data: "action" },
        ],
        createdRow: function (row, data, dataIndex) {
          $("td", row).each(function () {
            this.style.textAlign = "center";
            this.style.verticalAlign = "middle";
            this.style.fontSize = "14px";
          });
        },
        initComplete: function () {
          $("#dataTableStrandsType thead th").css({
            "font-size": "14px",
            "font-weight": "bold",
            "text-align": "center",
          });
        },
      });
    }

    $("#dataTableRiders tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      rider_id = dataRow[0];
      console.log(dataRow);
    });

    $(document).on("click", "#editBtn", function () {
      $.ajax({
        type: "POST",
        url: "/AdminRiders/getrider",
        data: {
          rider_id: rider_id,
        },
        success: function (result) {
          if (result.msg === "success") {
            const existingData = result.data;

            $.each(existingData, (key, item) => {
              $("#editfname").val(item.first_name);
              $("#edtimname").val(item.middle_name);
              $("#editlname").val(item.last_name);
              $("#editdaddress").val(item.address);
              $("#editEmail").val(item.email);
              $("#editPhoneNumber").val(item.rider_status);
              $("#editUsername").val(item.user_name);
              $("#editPassword").val(item.password);
              $("#editPhoneNumber").val(item.mobile_number);
              let formattedBudget = formatPeso(item.budget);
              $("#startingBudgetDisplay").text(formattedBudget);
              $("#editrstatus").val(item.rider_status);

              console.log(item.rider_status);

              $("#editgender").val(item.gender);
              $("#edtidlcode").val(item.license_code);
              $("#userImagePreview").attr(
                "src",
                "data:image/jpg;base64," + item.rider_selfie
              );
              base64String = item.rider_selfie;
              $("#orPreview").attr("src", "data:image/jpg;base64," + item.OR);
              ORbase64String = item.OR;
              $("#crPreview").attr("src", "data:image/jpg;base64," + item.CR);
              CRbase64String = item.CR;
              $("#licensePreview").attr(
                "src",
                "data:image/jpg;base64," + item.driver_license
              );
              DLbase64String = item.driver_license;
              $("#vehiclePreview").attr(
                "src",
                "data:image/jpg;base64," + item.vehicle_image
              );
              VCbase64String = item.vehicle_image;
              $("#editvehicle").val(item.vehicle_type);
            });
          } else {
            toastr.error("Error fetching employee data", "Error");
          }
        },
        error: function (err) {
          toastr.error(
            "An error occurred while fetching employee data",
            "Error"
          );
        },
      });
    });

    $(document).on("click", "#saveRiderBtn", function () {
      let first_name = $("#editfname").val();
      let middle_name = $("#edtimname").val();
      let last_name = $("#editlname").val();
      let gender = $("#editgender").val();
      let address = $("#editdaddress").val();
      let phone_number = $("#editPhoneNumber").val();
      let email = $("#editEmail").val();
      let username = $("#editUsername").val();
      let password = $("#editPassword").val();
      let vehicle_type = $("#editvehicle").val();
      let rider_status = $("#editrstatus").val();
      let dl_code = $("#edtidlcode").val();
      let rider_selfie = base64String;
      let OR = ORbase64String;
      let CR = CRbase64String;
      let driver_license = DLbase64String;
      let vehicle_image = VCbase64String;
      let errors = [];

      if (!first_name) errors.push("First Name is required");
      if (!last_name) errors.push("Last Name is required");
      if (!gender) errors.push("Gender is required");
      if (!address) errors.push("Address is required");
      if (!phone_number) errors.push("Phone Number is required");
      if (!email) errors.push("Email is required");
      if (!username) errors.push("Username is required");
      if (!password) errors.push("Password is required");
      if (!vehicle_type) errors.push("Vehicle Type is required");
      if (!rider_status) errors.push("Rider Status is required");
      if (!dl_code) errors.push("Driver License Number is required");

      if (!rider_selfie) errors.push("Rider Selfie is required");
      if (!OR) errors.push("Original Receipt is required");
      if (!CR) errors.push("Certificate Registration is required");
      if (!driver_license) errors.push("Driver License is required");
      if (!vehicle_image) errors.push("Vehicle Image is required");

      if (errors.length > 0) {
        toastr.error(errors.join("<br>"), "Required");
        return;
      }

      $.ajax({
        type: "PUT",
        url: "/AdminRiders/edit",
        data: {
          rider_id: rider_id,
          first_name: first_name,
          middle_name: middle_name,
          last_name: last_name,
          gender: gender,
          address: address,
          phone_number: phone_number,
          email: email,
          username: username,
          password: password,
          vehicle_type: vehicle_type,
          rider_status: rider_status,
          dl_code: dl_code,
          rider_selfie: rider_selfie,
          OR: OR,
          CR: CR,
          driver_license: driver_license,
          vehicle_image: vehicle_image,
        },
        success: function (result) {
          if (result.msg == "success") {
            toastr.success("Saved Successfully", "Success");
            setTimeout(function () {
              window.location.reload();
            }, 500);
          } else {
            toastr.warning("Data already exists!", "Warning");
          }
        },
        error: function (err) {
          toastr.warning("Data already exists!", "Warning");
        },
      });
    });

    function searchTable() {
      var input, filter, found, table, tr, td, i, j;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("dataTableStudents");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        for (j = 0; j < td.length; j++) {
          if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
            found = true;
          }
        }
        if (found) {
          tr[i].style.display = "";
          found = false;
        } else {
          tr[i].style.display = "none";
        }
      }
    }

    $(".toggle-password").on("click", function () {
      const passwordField = $("#addpassword");
      const eyeIcon = $("#eyeIcon");
      const fieldType =
        passwordField.attr("type") === "password" ? "text" : "password";
      passwordField.attr("type", fieldType);
      if (fieldType === "password") {
        eyeIcon.removeClass("bx-show").addClass("bx-hide");
      } else {
        eyeIcon.removeClass("bx-hide").addClass("bx-show");
      }
    });

    $(".toggle-password").on("click", function () {
      const passwordField = $("#editPassword");
      const eyeIcon = $("#eyeIconEdit");
      const fieldType =
        passwordField.attr("type") === "password" ? "text" : "password";
      passwordField.attr("type", fieldType);
      if (fieldType === "password") {
        eyeIcon.removeClass("bx-show").addClass("bx-hide");
      } else {
        eyeIcon.removeClass("bx-hide").addClass("bx-show");
      }
    });

    $(document).on("change", "#edituserimage", function (e) {
      const input = document.getElementById("edituserimage");
      const file = input.files[0];

      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        const preview = document.getElementById("userImagePreview");
        preview.src = reader.result;
      };
      riderSelfie();
    });

    function riderSelfie() {
      const input = document.getElementById("edituserimage");
      const file = input.files[0];

      var reader = new FileReader();

      reader.onload = function (e) {
        const img = new Image();
        img.src = e.target.result;

        img.onload = function () {
          const canvas = document.createElement("canvas");
          const ctx = canvas.getContext("2d");
          const targetWidth = 250;
          const targetHeight = 250;
          canvas.width = targetWidth;
          canvas.height = targetHeight;
          ctx.drawImage(img, 0, 0, targetWidth, targetHeight);
          base64String = canvas
            .toDataURL()
            .replace("data:image/png;base64,", "");

          base64String = base64String;
        };
      };
      reader.readAsDataURL(file);
    }

    $(document).on("change", "#uploadcr", function (e) {
      const input = document.getElementById("uploadcr");
      const file = input.files[0];

      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        const preview = document.getElementById("crPreview");
        preview.src = reader.result;
      };
      certificateRegistration();
    });

    function certificateRegistration() {
      const input = document.getElementById("uploadcr");
      const file = input.files[0];

      var reader = new FileReader();

      reader.onload = function (e) {
        const img = new Image();
        img.src = e.target.result;

        img.onload = function () {
          const canvas = document.createElement("canvas");
          const ctx = canvas.getContext("2d");
          const targetWidth = 250;
          const targetHeight = 250;
          canvas.width = targetWidth;
          canvas.height = targetHeight;
          ctx.drawImage(img, 0, 0, targetWidth, targetHeight);
          base64String = canvas
            .toDataURL()
            .replace("data:image/png;base64,", "");

          CRbase64String = base64String;
        };
      };
      reader.readAsDataURL(file);
    }

    $(document).on("change", "#uploadlicense", function (e) {
      const input = document.getElementById("uploadlicense");
      const file = input.files[0];

      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        const preview = document.getElementById("licensePreview");
        preview.src = reader.result;
      };
      driverLicense();
    });

    function driverLicense() {
      const input = document.getElementById("uploadlicense");
      const file = input.files[0];

      var reader = new FileReader();

      reader.onload = function (e) {
        const img = new Image();
        img.src = e.target.result;

        img.onload = function () {
          const canvas = document.createElement("canvas");
          const ctx = canvas.getContext("2d");
          const targetWidth = 250;
          const targetHeight = 250;
          canvas.width = targetWidth;
          canvas.height = targetHeight;
          ctx.drawImage(img, 0, 0, targetWidth, targetHeight);
          base64String = canvas
            .toDataURL()
            .replace("data:image/png;base64,", "");

          DLbase64String = base64String;
        };
      };
      reader.readAsDataURL(file);
    }

    $(document).on("change", "#uploador", function (e) {
      const input = document.getElementById("uploador");
      const file = input.files[0];

      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        const preview = document.getElementById("orPreview");
        preview.src = reader.result;
      };
      originalRecipet();
    });

    function originalRecipet() {
      const input = document.getElementById("uploador");
      const file = input.files[0];

      var reader = new FileReader();

      reader.onload = function (e) {
        const img = new Image();
        img.src = e.target.result;

        img.onload = function () {
          const canvas = document.createElement("canvas");
          const ctx = canvas.getContext("2d");
          const targetWidth = 250;
          const targetHeight = 250;
          canvas.width = targetWidth;
          canvas.height = targetHeight;
          ctx.drawImage(img, 0, 0, targetWidth, targetHeight);
          base64String = canvas
            .toDataURL()
            .replace("data:image/png;base64,", "");

          ORbase64String = base64String;
        };
      };
      reader.readAsDataURL(file);
    }

    $(document).on("change", "#uplaodVehicle", function (e) {
      const input = document.getElementById("uplaodVehicle");
      const file = input.files[0];

      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        const preview = document.getElementById("vehiclePreview");
        preview.src = reader.result;
      };
      vehicleImage();
    });

    function vehicleImage() {
      const input = document.getElementById("uplaodVehicle");
      const file = input.files[0];

      var reader = new FileReader();

      reader.onload = function (e) {
        const img = new Image();
        img.src = e.target.result;

        img.onload = function () {
          const canvas = document.createElement("canvas");
          const ctx = canvas.getContext("2d");
          const targetWidth = 250;
          const targetHeight = 250;
          canvas.width = targetWidth;
          canvas.height = targetHeight;
          ctx.drawImage(img, 0, 0, targetWidth, targetHeight);
          base64String = canvas
            .toDataURL()
            .replace("data:image/png;base64,", "");

          VCbase64String = base64String;
        };
      };
      reader.readAsDataURL(file);
    }
  });
</script>
