<!DOCTYPE html>
<html lang="en">
<%- include("../components/LoadHeader.ejs")%>
<body class="">
  <%- include("../page/LoadLogin/LoadLogin.ejs")%>
  <%- include("../components/LoadScripts.ejs")%>
  <%- include("../page/LoadLogin/LoadLoginScript.ejs")%>
</body>

</html>