<main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
              <div class="card card-plain">
                <div class="card-header pb-0 text-start">
                  <img src="/img/logos/logo.png" style="width: 250px;" alt="logo">
                  <h4 class="font-weight-bolder">Lagona Express Merchant</h4>
                  <p class="mb-0">Welcome to Lagona Express Merchant Login Please sign-in to your account and start the adventure</p>
                </div>
                <div class="card-body">
                  <form role="form">
                    <div class="mb-3">
                      <input type="email" class="form-control form-control-lg" placeholder="Username" aria-label="Email" id="username">
                    </div>
                    <div class="input-group mb-3" style="position: relative;">
                      <input type="password" class="form-control" id="password" placeholder="Password" aria-label="Password" style="padding-right: 2.5rem;">
                      <button class="toggle-password" type="button" id="togglePassword" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); background: transparent; border: none;">
                        <i class="fas fa-eye"></i>
                      </button>
                    </div>                    
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="rememberMe">
                      <label class="form-check-label" for="rememberMe">Remember me</label>
                    </div>
                    <div class="text-center">
                      <button type="button" class="lagona_class-btn btn btn-lg w-100 mt-4 mb-0" id="loginBtn">Log in</button>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-sm mx-auto">
                    Forgot your password?
                    <a href="/forgotpassword_admin" class="text-warning text-gradient font-weight-bold">Reset Password</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
              <div class="position-relative bg-gradient-warning h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" 
              style="background-image: url('/img/logos/lagona_cover.png'); background-size: cover;">
                <span class="mask bg-gradient-warning opacity-6"></span>
                <h4 class="mt-5 text-dark font-weight-bolder position-relative">"Kung may kailangang ipadala food or non food?"</h4>
                <p class="text-dark position-relative">i-GO mo na 'yan!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>